version: '3.9'
services:
  postgres:
    container_name: hostelDB
    image: postgres:16
    hostname: hostelDB
    environment:
      - POSTGRES_DB=hostelService
      - POSTGRES_USER=hostel
      - POSTGRES_PASSWORD=ilia
    ports:
      - "5430:5432"
    healthcheck:
      test: [ "CMD", "pg_isready -U hostel" ]
      interval: 10s
      timeout: 5s
      retries: 5