openapi: 3.1.0
info:
  title: OpenAPI definition
  version: v0
servers:
- url: http://localhost:8085
  description: Generated server url
paths:
  /notifications:
    post:
      tags:
      - notification-controller
      operationId: createNotification
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/NotificationRequestDto"
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotificationResponseDto"
  /notifications/tokens:
    post:
      tags:
      - token-controller
      operationId: createToken
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TokenRequestDto"
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
  /notifications/get:
    get:
      tags:
      - notification-controller
      operationId: getNotification
      parameters:
      - name: type
        in: query
        required: true
        schema:
          type: string
          enum:
          - BALANCE
          - DOCUMENT
          - KITCHEN_SCHEDULE
      - name: date
        in: query
        required: true
        schema:
          type: string
          format: date
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotificationResponseDto"
components:
  schemas:
    NotificationRequestDto:
      type: object
      properties:
        userId:
          type: string
          format: uuid
        type:
          type: string
          enum:
          - BALANCE
          - DOCUMENT
          - KITCHEN_SCHEDULE
        title:
          type: string
          minLength: 1
        message:
          type: string
          minLength: 1
      required:
      - message
      - title
      - type
      - userId
    NotificationResponseDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
        userId:
          type: string
          format: uuid
        type:
          type: string
          enum:
          - BALANCE
          - DOCUMENT
          - KITCHEN_SCHEDULE
        title:
          type: string
        message:
          type: string
        createdAt:
          type: string
          format: date-time
    TokenRequestDto:
      type: object
      properties:
        token:
          type: string
      required:
      - token
